* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frame {
    width: 316px;
    height: 470px;
    border: 3px solid #609d9e;
    border-radius: 10px;
    margin: 40px auto 0 auto;
}

.model {
    height: 40px;
    line-height: 40px;
    text-align: right;
    margin-top: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #609d9e;
}

input {
    display: block;
    margin: 10px auto;
    width: 95%;
    height: 43px;
    border: 3px solid #609d9e;
    border-radius: 6px;
    font-size: 24px;
    color: #609d9e;
    font-weight: 600;
}

.battery {
    margin: 0 12px 0 auto;
    width: 102px;
    height: 36px;
    background-color: #609d9e;
}

.bloc_button {
    position: absolute;
    clear: both;
    margin-left: 10px;
    margin-bottom: 2px;
    text-align: center;
}

.bloc_button div {
    display: inline-block;
    width: 61px;
    height: 59px;
    line-height: 55px;
    border: 3px solid #609d9e;
    border-radius: 12px;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 22px;
    color: #609d9e;
    font-weight: 700;
}

.bloc_button div:hover {
    background-color: #0d6465;
    border: 3px solid #094142;
    color: white;
}

.bloc_button div:active {
    background-color: #7e1212;
    border: 3px solid #420909;
    color: white;
}