* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

input {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    font-size: 15px;
}

#task {
    width: 800px;
    margin: 40px auto 0 auto;
}

h2 {
    font-size: 21px;
}



.title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}