* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 924px;
    border: 1px solid black;
    border-right: none;
    display: flex;
    margin: 70px auto 0 auto;
}

.icon {
    display: block;
    width: 84px;
    height: 84px;
    background-image: url(../task_1/icon_sprite.jpg);
    border-right: 1px solid black;
}

/* .icon_fb */
.icon_fb {
    background-position: 0px 0px;
}

.icon_fb:hover {
    background-position: 0px 168px;
}

.icon_fb:active {
    background-position: left 0px bottom 252px;
}

/* .icon_point  */
.icon_point {
    background-position: right 168px top 0px;
}

.icon_point:hover {
    background-position: right 168px top 168px;
}

.icon_point:active {
    background-position: right 168px bottom 252px;
}

/* .icon_bol */
.icon_bol {
    background-position: right 252px top 0px;
}

.icon_bol:hover {
    background-position: right 252px top 168px;
}

.icon_bol:active {
    background-position: right 252px bottom 252px;
}

/* .icon_gl-plus */
.icon_gl-plus {
    background-position: right 336px top 0px;
}

.icon_gl-plus:hover {
    background-position: right 336px top 168px;
}

.icon_gl-plus:active {
    background-position: right 336px bottom 252px;
}

/* .icon_in  */
.icon_in {
    background-position: right 420px top 0px;
}

.icon_in:hover {
    background-position: right 420px top 168px;
}

.icon_in:active {
    background-position: right 420px bottom 252px;
}

/* .icon_pinterest */
.icon_pinterest {
    background-position: right 504px top 0px;
}

.icon_pinterest:hover {
    background-position: right 504px top 168px;
}

.icon_pinterest:active {
    background-position: right 504px bottom 252px;
}

/* .icon_vi-wi */
.icon_vi-wi {
    background-position: right 588px top 0px;
}

.icon_vi-wi:hover {
    background-position: right 588px top 168px;
}

.icon_vi-wi:active {
    background-position: right 588px bottom 252px;
}

/* .icon_skype */
.icon_skype {
    background-position: right 672px top 0px;
}

.icon_skype:hover {
    background-position: right 672px top 168px;
}

.icon_skype:active {
    background-position: right 672px bottom 252px;
}

/* .icon_twitter */
.icon_twitter {
    background-position: right 756px top 0px;
}

.icon_twitter:hover {
    background-position: right 756px top 168px;
}

.icon_twitter:active {
    background-position: right 756px bottom 252px;
}

/* .icon_V */
.icon_V {
    background-position: right 840px top 0px;
}

.icon_V:hover {
    background-position: right 840px top 168px;
}

.icon_V:active {
    background-position: right 840px bottom 252px;
}

/* .icon_YT */
.icon_YT {
    background-position: right 924px top 0px;
}

.icon_YT:hover {
    background-position: right 924px top 168px;
}

.icon_YT:active {
    background-position: right 924px bottom 252px;
}