* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullwrap,
.header,
.wrap,
.main,
.sidebar,
.footer {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

.fullwrap {
    width: 550px;
    height: 600px;
    margin: 40px auto 0 auto;
}

.header {
    margin-bottom: 10px;
    height: 75px;
}

.wrap {
    height: 360px;
}

.main {
    float: left;
    height: 100%;
    width: 290px;
}

.sidebar {
    margin-left: 322px;
    height: 100%;
    width: 185px;
}

.footer {
    margin-top: 10px;
    height: 120px;
    clear: both;
}